---

permission_type: b
network_stack_prefix: overwrite-me
os_type: rhel7

main:
  stack_name: overwrite-me
prerequisites:
  stack_name: overwrite-me

aem:
  version: '6.4'
  enable_crxde: false
  enable_default_passwords: false
  enable_deploy_on_init: false
  enable_reverse_replication: true
  enable_content_healthcheck: true
  enable_content_healthcheck_terminate_instance: false
  enable_reconfiguration: false
  enable_bak_files_cleanup: false
  enable_post_start_sleep: false
  enable_upgrade_tools: false
  bak_files_cleanup_max_age_in_days: 30
  enable_saml: false
  deployment_delay_in_seconds: 60
  deployment_check_retries: 120
  deployment_check_delay_in_seconds: 15
  login_ready_max_tries: 60
  login_ready_base_sleep_seconds: 5
  login_ready_max_sleep_seconds: 10
  revert_snapshot_type:
  client_timeout: 1200
  post_start_sleep_seconds: 120
  # Parameters for managing AEM Authorizable Keystore
  authorizable_keystore:
    enable_creation: false
    enable_certificate_chain_upload: false
  # Parameters for managing AEM Truststore
  truststore:
    enable_creation: false
    enable_saml_certificate_upload: false
    password:
  publish:
    jvm_mem_opts: "-Xss4m -Xms4096m -Xmx8192m"
    jvm_opts: ""
    jmxremote:
      port: 5983
  author:
    jvm_mem_opts: "-Xss4m -Xms4096m -Xmx8192m"
    jvm_opts: ""
    jmxremote:
      port: 5982

ami_ids:
  author: overwrite-me
  publish: overwrite-me
  author_dispatcher: overwrite-me
  publish_dispatcher: overwrite-me
  author_publish_dispatcher: overwrite-me
  orchestrator: overwrite-me
  chaos_monkey: overwrite-me

ami_device:
  amazon-linux2:
    root_name: /dev/xvda
    data_name: /dev/xvdb
    data_attached_name: /dev/xvdb
    author_data_name: /dev/xvdb
    author_data_attached_name: /dev/xvdb
    publish_data_name: /dev/xvdc
    publish_data_attached_name: /dev/xvdc
  centos7:
    root_name: /dev/sda1
    data_name: /dev/sdb
    data_attached_name: /dev/xvdb
    author_data_name: /dev/sdb
    author_data_attached_name: /dev/xvdb
    publish_data_name: /dev/sdc
    publish_data_attached_name: /dev/xvdc
  rhel7:
    root_name: /dev/sda1
    data_name: /dev/xvdb
    data_attached_name: /dev/xvdb
    author_data_name: /dev/xvdb
    author_data_attached_name: /dev/xvdb
    publish_data_name: /dev/xvdc
    publish_data_attached_name: /dev/xvdc

security_groups:
  secure_shell:
    inbound_cidr_ip: overwrite-me

  private_subnet_internet_outbound_cidr_ip: overwrite-me

  publish_dispatcher_elb:
    inbound_cidr_ip: overwrite-me
    extra_groups:

  author_dispatcher_elb:
    inbound_cidr_ip: overwrite-me
    extra_groups:

  author_publish_dispatcher:
    inbound_cidr_ip: overwrite-me

messaging:
  asg_event_sqs_queue_name: aem-asg-event-queue
  asg_event_sns_topic_name: aem-asg-event-topic
  asg_event_sns_topic_display_name: AEM ASG Event Topic
  alarm_notification:
    contact_email: overwrite-me

compute:
  key_pair_name: overwrite-me
  inbound_from_bastion_host_security_group: overwrite-me
  # TODO: switch to ELBSecurityPolicy-TLS-1-2-2017-01 after upgrading deps
  elb_cipher_suite: ELBSecurityPolicy-2016-08

s3:
  data_bucket_name: overwrite-me
  create_bucket_flag: 'true'

library:
  aem_aws_stack_provisioner_version: 3.15.0
  aem_orchestrator_version: 2.0.0
  aem_password_reset_version: 1.1.0
  oak_run_version: 1.8.3
  aem_stack_manager_version: 1.3.2
  simian_army_version: 2.5.3
  aem_healthcheck_version: 1.3.3

snapshots:
  author:
    use_data_vol_snapshot: false
    data_vol_snapshot_id: overwrite-me
  publish:
    use_data_vol_snapshot: false
    data_vol_snapshot_id: overwrite-me

reconfiguration:
  enable_create_system_users: false
  enable_truststore_removal: false
  enable_truststore_migration: false
  certs_base: s3://overwrite/me
  ssl_keystore_password: changeit

system_users:
  admin:
    name: admin
    path: /home/users/d
  authentication-service:
    name: authentication-service
    path: /home/users/system
    authorizable_keystore:
      password:
      certificate_chain:
      private_key:
      private_key_alias:
  deployer:
    name: deployer
    path: /home/users/q
  exporter:
    name: exporter
    path: /home/users/e
  importer:
    name: importer
    path: /home/users/i
  orchestrator:
    name: orchestrator
    path: /home/users/o
  replicator:
    name: replicator
    path: /home/users/r

# Parameters needed for SAML configuration
saml:
  add_group_memberships:
  clock_tolerance:
  create_user:
  default_groups:
  default_redirect_url:
  digest_method:
  group_membership_attribute:
  handle_logout:
  # The password of the key-store of the 'authentication-service' system user
  key_store_password:
  idp_http_redirect:
  idp_url:
  logout_url:
  name_id_format:
  path:
  service_provider_entity_id:
  service_ranking:
  signature_method:
  sp_private_key_alias:
  synchronize_attributes:
  use_encryption:
  user_id_attribute:
  user_intermediate_path:
  # Parameters for providing the certificate used for SAML authentication
  idp_cert_alias:
  file:
  serial:

publish_dispatcher:
  instance_profile: overwrite-me
  instance_type: t2.micro
  root_vol_size: 20
  data_vol_size: 20
  enable_random_termination: true
  elb_health_check: HTTPS:443/system/health?tags=shallow
  elb_scheme: internet-facing
  allowed_client: '*.*.*.*'
  asg_min_size: 2
  asg_desired_capacity: 2
  asg_max_size: 2
  asg_health_check_grace_period: 1200
  asg_cooldown: 480
  asg_cpu_scaling_threshold: 49
  asg_cpu_high_period: 300
  asg_cpu_high_eval_period: 1
  asg_cpu_low_period: 300
  asg_cpu_low_eval_period: 2

publish:
  instance_profile: overwrite-me
  instance_type: m3.large
  root_vol_size: 20
  data_vol_size: 75
  enable_random_termination: true
  asg_min_size: 2
  asg_desired_capacity: 2
  asg_max_size: 2
  asg_health_check_grace_period: 900
  asg_cooldown: 480

author:
  instance_profile: overwrite-me
  instance_type: m3.large
  root_vol_size: 20
  data_vol_size: 75
  elb_health_check: HTTPS:5432/system/health?tags=shallow

author_dispatcher:
  instance_profile: overwrite-me
  instance_type: t2.micro
  root_vol_size: 20
  data_vol_size: 20
  enable_random_termination: true
  elb_health_check: HTTPS:443/system/health?tags=shallow
  asg_min_size: 2
  asg_desired_capacity: 2
  asg_max_size: 2
  asg_health_check_grace_period: 900
  asg_cooldown: 480

author_publish_dispatcher:
  instance_profile: overwrite-me
  instance_type: m4.xlarge
  root_vol_size: 20
  data_vol_size: 20
  associate_public_ip_address: true

orchestrator:
  instance_profile: overwrite-me
  instance_type: t2.small
  root_vol_size: 20
  data_vol_size: 20
  enable_random_termination: true

chaos_monkey:
  instance_profile: overwrite-me
  instance_type: t2.micro
  root_vol_size: 20
  include_stack: true
  enable_random_termination: true
  termination_settings:
    calendar_open_hour: '9'
    calendar_close_hour: '15'
    calendar_timezone: 'Australia/Sydney'
    scheduler_frequency_in_minutes: '5'
    asg_probability: '1.0'
    asg_max_terminations_per_day: '1.0'

dns_records:
  create_hosted_zone_flag: 'true'
  route53_hosted_zone_name: overwrite-me.com.
  author:
    record_set_name: author
  author_dispatcher:
    record_set_name: author-dispatcher
  publish_dispatcher:
    record_set_name: publish-dispatcher
  author_publish_dispatcher:
    record_set_name: author-publish-dispatcher
    ttl: 300

stack_manager:
  stack_name: aem-stack-manager
  s3_prefix: stack-manager
  utilities_stack_name: utilities
  purge:
    live_snapshots:
      schedule: '10 20 1/3 * ? *'
      max_age_in_hours: 24
    offline_snapshots:
      schedule: '15 19 ? * SUN *'
      max_age_in_hours: 61320
    orchestration_snapshots:
      schedule: '5 0/4 * * ? *'
      max_age_in_hours: 4
  alarm_notification:
    contact_email: overwrite-me

logrotation:
  config:
    /etc/logrotate.conf:
      # this `rotate` property needs to be declared here for Puppet create_resources to work
      # the rotate can also be declared in `logrotation.default_config.rotate` and
      # if one is defined there, that will overwrite the `logrotation.config./etc/logrotate.conf.rotate`
      rotate: 4
  default_config:
    rotate: 4
    rotate_every: daily
    compress: true
    create: true
    dateext: true
    ifempty: false
    mail: false
    olddir: false
    size: 10M
  rules:
    amazon_ssm:
      path: /var/log/amazon/ssm/*.log
      olddir: /var/log/amazon/ssm/
      postrotate: '/bin/systemctl restart amazon-ssm-agent > /dev/null 2>/dev/null||true'
    opencloud_scheduled_jobs:
      path: "%{hiera('common::log_dir')}/cron*.log"
      olddir: "%{hiera('common::log_dir')}"
    opencloud_ssm_commands:
      path: "%{hiera('common::log_dir')}/ssm*.log"
      olddir: "%{hiera('common::log_dir')}"
  author_primary:
    config:
    rules:
  author_standby:
    config:
    rules:
  publish:
    config:
    rules:
  author_dispatcher:
    config:
    rules:
      httpd:
        path: /var/log/httpd/*.log
        rotate: 5
        size: 200M
        dateext: true
        rotate_every: day
        sharedscripts: true
        delaycompress: true
        missingok: true
        ifempty: false
        olddir: /var/log/httpd
        postrotate: /bin/systemctl reload httpd.service > /dev/null 2>/dev/null||true
  publish_dispatcher:
    config:
    rules:
      httpd:
        path: /var/log/httpd/*.log
        rotate: 5
        size: 200M
        dateext: false
        rotate_every: hour
        sharedscripts: true
        delaycompress: true
        missingok: true
        ifempty: false
        olddir: /var/log/httpd
        postrotate: /bin/systemctl reload httpd.service > /dev/null 2>/dev/null||true
  orchestrator:
    config:
    rules:
  simianarmy:
    config:
    rules:

scheduled_jobs:
  author_primary:
    offline_compaction:
      enable: false
      weekday: 2
      hour: 3
      minute: 0
    export:
      enable: true
      weekday: 0-7
      hour: 2
      minute: 0
    live_snapshot:
      enable: true
      weekday: 0-7
      hour: '*'
      minute: 0

  author_standby:
    live_snapshot:
      enable: true
      weekday: 0-7
      hour: '*'
      minute: 0

  publish:
    offline_compaction:
      enable: false
      weekday: 2
      hour: 3
      minute: 0
    export:
      enable: true
      weekday: 0-7
      hour: 2
      minute: 0
    live_snapshot:
      enable: true
      weekday: 0-7
      hour: '*'
      minute: 0

  publish_dispatcher:
    content_health_check:
      enable: true
      weekday: '*'
      hour: '*'
      minute: '*'

  aem_orchestrator:
    stack_manager_pair:
      stack_prefix:
      stack_name: aem-stack-manager-main-stack
    offline_compaction_snapshot:
      enable: true
      weekday: 1
      hour: 1
      minute: 15
    offline_snapshot:
      enable: true
      weekday: 2-7
      hour: 1
      minute: 15
