---
- name: AEM Apps Compute Resources Overarching CloudFormation Stack
  hosts: all
  gather_facts: no
  connection: local

  tasks:
    - name: Upload CloudFormation Templates to S3
      command: >
              aws s3 sync ../../../../../../templates/cloudformation/apps/aem/full-set
                  s3://{{ s3.data_bucket_name }}/{{ stack_prefix }}
                  --include "*.yaml" --acl public-read
      tags:
        - create

    - name: Create AEM App Main Resources Stack with permission type b
      cloudformation:
        stack_name: "{{ stack_prefix }}-{{ main.stack_name }}"
        region: "{{ aws.region }}"
        state: present
        disable_rollback: true
        template: "../../../../../../templates/cloudformation/apps/aem/full-set/main.yaml"
        template_parameters:
          PrerequisitesStackPrefixParameter: "{{ prerequisites_stack_prefix }}"
          MainStackPrefixParameter: "{{ stack_prefix }}"
          NetworkStackPrefixParameter: "{{ network_stack_prefix }}"
          ComputeKeyPairNameParameter: "{{ compute.key_pair_name }}"
          ELBCipherSuiteParameter: "{{ compute.elb_cipher_suite }}"
          InboundFromBastionHostSecurityGroupParameter: "{{ compute.inbound_from_bastion_host_security_group }}"
          DataBucketNameParameter: "{{ s3.data_bucket_name }}"
          AemAwsStackProvisionerVersionParameter: "{{ library.aem_aws_stack_provisioner_version }}"
          AuthorLoadBalancerHealthCheckTargetParameter: "{{ author.elb_health_check }}"
          AuthorImageParameter: "{{ ami_ids.author }}"
          AuthorInstanceTypeParameter: "{{ author.instance_type }}"
          AuthorRootVolSizeParameter: "{{ author.root_vol_size }}"
          AuthorDataVolSizeParameter: "{{ author.data_vol_size }}"
          UseAuthorDataVolSnapshotParameter: "{{ snapshots.author.use_data_vol_snapshot | lower }}"
          AuthorDataVolSnapshotParameter: "{{ snapshots.author.data_vol_snapshot_id }}"
          PublishImageParameter: "{{ ami_ids.publish }}"
          PublishInstanceTypeParameter: "{{ publish.instance_type }}"
          PublishASGAvailabilityZoneListParameter: "{{ aws.availability_zone_list }}"
          PublishASGConfigurationParameters: "{{ publish.asg_max_size }}, {{ publish.asg_min_size }}, {{ publish.asg_desired_capacity }}, {{ publish.asg_health_check_grace_period }}, {{ publish.asg_cooldown }}"
          PublishRootVolSizeParameter: "{{ publish.root_vol_size }}"
          PublishDataVolSizeParameter: "{{ publish.data_vol_size }}"
          UsePublishDataVolSnapshotParameter: "{{ snapshots.publish.use_data_vol_snapshot | lower }}"
          PublishDataVolSnapshotParameter: "{{ snapshots.publish.data_vol_snapshot_id }}"
          PublishDispatcherLoadBalancerHealthCheckTargetParameter: "{{ publish_dispatcher.elb_health_check }}"
          PublishDispatcherLoadBalancerSchemeParameter: "{{ publish_dispatcher.elb_scheme }}"
          PublishDispatcherImageParameter: "{{ ami_ids.publish_dispatcher }}"
          PublishDispatcherInstanceTypeParameter: "{{ publish_dispatcher.instance_type }}"
          PublishDispatcherASGAvailabilityZoneListParameter: "{{ aws.availability_zone_list }}"
          PublishDispatcherASGConfigurationParameters: "{{ publish_dispatcher.asg_max_size }}, {{ publish_dispatcher.asg_min_size }}, {{ publish_dispatcher.asg_desired_capacity }}, {{ publish_dispatcher.asg_health_check_grace_period }}, {{ publish_dispatcher.asg_cooldown }}"
          PublishDispatcherASGCPUScalingParameters: "{{ publish_dispatcher.asg_cpu_scaling_threshold }}, {{ publish_dispatcher.asg_cpu_high_period }}, {{ publish_dispatcher.asg_cpu_high_eval_period }}, {{ publish_dispatcher.asg_cpu_low_period }}, {{ publish_dispatcher.asg_cpu_low_eval_period }}"
          PublishDispatcherRootVolSizeParameter: "{{ publish_dispatcher.root_vol_size }}"
          PublishDispatcherDataVolSizeParameter: "{{ publish_dispatcher.data_vol_size }}"
          AuthorDispatcherLoadBalancerHealthCheckTargetParameter: "{{ author_dispatcher.elb_health_check }}"
          AuthorDispatcherImageParameter: "{{ ami_ids.author_dispatcher }}"
          AuthorDispatcherInstanceTypeParameter: "{{ author_dispatcher.instance_type }}"
          AuthorDispatcherASGAvailabilityZoneListParameter: "{{ aws.availability_zone_list }}"
          AuthorDispatcherASGConfigurationParameters: "{{ author_dispatcher.asg_max_size }}, {{ author_dispatcher.asg_min_size }}, {{ author_dispatcher.asg_desired_capacity }}, {{ author_dispatcher.asg_health_check_grace_period }}, {{ author_dispatcher.asg_cooldown }}"
          AuthorDispatcherRootVolSizeParameter: "{{ author_dispatcher.root_vol_size }}"
          AuthorDispatcherDataVolSizeParameter: "{{ author_dispatcher.data_vol_size }}"
          OrchestratorImageParameter: "{{ ami_ids.orchestrator }}"
          OrchestratorInstanceTypeParameter: "{{ orchestrator.instance_type }}"
          OrchestratorASGAvailabilityZoneListParameter: "{{ aws.availability_zone_list }}"
          OrchestratorRootVolSizeParameter: "{{ orchestrator.root_vol_size }}"
          OrchestratorDataVolSizeParameter: "{{ orchestrator.data_vol_size }}"
          ChaosMonkeyIncludeStack: "{{ chaos_monkey.include_stack | lower }}"
          ChaosMonkeyImageParameter: "{{ ami_ids.chaos_monkey }}"
          ChaosMonkeyInstanceTypeParameter: "{{ chaos_monkey.instance_type }}"
          ChaosMonkeyASGAvailabilityZoneListParameter: "{{ aws.availability_zone_list }}"
          ChaosMonkeyRootVolSizeParameter: "{{ chaos_monkey.root_vol_size }}"
          Route53HostedZoneNameParameter: "{{ dns_records.route53_hosted_zone_name }}"
          AuthorDNSRecordSetNameParameter: "{{ dns_records.author.record_set_name }}"
          AuthorDispatcherDNSRecordSetNameParameter: "{{ dns_records.author_dispatcher.record_set_name }}"
          PublishDispatcherDNSRecordSetNameParameter: "{{ dns_records.publish_dispatcher.record_set_name }}"
          ImageDevices: "{{ ami_device[os_type].root_name }}, {{ ami_device[os_type].data_name }}"
      tags:
      - create
      when:
        permission_type == "b"

    - name: Create AEM App Main Resources Stack with permission type c
      cloudformation:
        stack_name: "{{ stack_prefix }}-{{ main.stack_name }}"
        region: "{{ aws.region }}"
        state: present
        disable_rollback: true
        template: "../../../../../../templates/cloudformation/apps/aem/full-set/main-c.yaml"
        template_parameters:
          PrerequisitesStackPrefixParameter: "{{ prerequisites_stack_prefix }}"
          MainStackPrefixParameter: "{{ stack_prefix }}"
          NetworkStackPrefixParameter: "{{ network_stack_prefix }}"
          ComputeKeyPairNameParameter: "{{ compute.key_pair_name }}"
          ELBCipherSuiteParameter: "{{ compute.elb_cipher_suite }}"
          InboundFromBastionHostSecurityGroupParameter: "{{ compute.inbound_from_bastion_host_security_group }}"
          DataBucketNameParameter: "{{ s3.data_bucket_name }}"
          AemAwsStackProvisionerVersionParameter: "{{ library.aem_aws_stack_provisioner_version }}"
          AuthorLoadBalancerHealthCheckTargetParameter: "{{ author.elb_health_check }}"
          AuthorImageParameter: "{{ ami_ids.author }}"
          AuthorInstanceTypeParameter: "{{ author.instance_type }}"
          AuthorRootVolSizeParameter: "{{ author.root_vol_size }}"
          AuthorDataVolSizeParameter: "{{ author.data_vol_size }}"
          UseAuthorDataVolSnapshotParameter: "{{ snapshots.author.use_data_vol_snapshot | lower }}"
          AuthorDataVolSnapshotParameter: "{{ snapshots.author.data_vol_snapshot_id }}"
          PublishImageParameter: "{{ ami_ids.publish }}"
          PublishInstanceTypeParameter: "{{ publish.instance_type }}"
          PublishASGAvailabilityZoneListParameter: "{{ aws.availability_zone_list }}"
          PublishASGConfigurationParameters: "{{ publish.asg_max_size }}, {{ publish.asg_min_size }}, {{ publish.asg_desired_capacity }}, {{ publish.asg_health_check_grace_period }}, {{ publish.asg_cooldown }}"
          PublishRootVolSizeParameter: "{{ publish.root_vol_size }}"
          PublishDataVolSizeParameter: "{{ publish.data_vol_size }}"
          UsePublishDataVolSnapshotParameter: "{{ snapshots.publish.use_data_vol_snapshot | lower }}"
          PublishDataVolSnapshotParameter: "{{ snapshots.publish.data_vol_snapshot_id }}"
          PublishDispatcherLoadBalancerHealthCheckTargetParameter: "{{ publish_dispatcher.elb_health_check }}"
          PublishDispatcherLoadBalancerSchemeParameter: "{{ publish_dispatcher.elb_scheme }}"
          PublishDispatcherImageParameter: "{{ ami_ids.publish_dispatcher }}"
          PublishDispatcherInstanceTypeParameter: "{{ publish_dispatcher.instance_type }}"
          PublishDispatcherASGAvailabilityZoneListParameter: "{{ aws.availability_zone_list }}"
          PublishDispatcherASGConfigurationParameters: "{{ publish_dispatcher.asg_max_size }}, {{ publish_dispatcher.asg_min_size }}, {{ publish_dispatcher.asg_desired_capacity }}, {{ publish_dispatcher.asg_health_check_grace_period }}, {{ publish_dispatcher.asg_cooldown }}"
          PublishDispatcherASGCPUScalingParameters: "{{ publish_dispatcher.asg_cpu_scaling_threshold }}, {{ publish_dispatcher.asg_cpu_high_period }}, {{ publish_dispatcher.asg_cpu_high_eval_period }}, {{ publish_dispatcher.asg_cpu_low_period }}, {{ publish_dispatcher.asg_cpu_low_eval_period }}"
          PublishDispatcherRootVolSizeParameter: "{{ publish_dispatcher.root_vol_size }}"
          PublishDispatcherDataVolSizeParameter: "{{ publish_dispatcher.data_vol_size }}"
          AuthorDispatcherLoadBalancerHealthCheckTargetParameter: "{{ author_dispatcher.elb_health_check }}"
          AuthorDispatcherImageParameter: "{{ ami_ids.author_dispatcher }}"
          AuthorDispatcherInstanceTypeParameter: "{{ author_dispatcher.instance_type }}"
          AuthorDispatcherASGAvailabilityZoneListParameter: "{{ aws.availability_zone_list }}"
          AuthorDispatcherASGConfigurationParameters: "{{ author_dispatcher.asg_max_size }}, {{ author_dispatcher.asg_min_size }}, {{ author_dispatcher.asg_desired_capacity }}, {{ author_dispatcher.asg_health_check_grace_period }}, {{ author_dispatcher.asg_cooldown }}"
          AuthorDispatcherRootVolSizeParameter: "{{ author_dispatcher.root_vol_size }}"
          AuthorDispatcherDataVolSizeParameter: "{{ author_dispatcher.data_vol_size }}"
          OrchestratorImageParameter: "{{ ami_ids.orchestrator }}"
          OrchestratorInstanceTypeParameter: "{{ orchestrator.instance_type }}"
          OrchestratorASGAvailabilityZoneListParameter: "{{ aws.availability_zone_list }}"
          OrchestratorRootVolSizeParameter: "{{ orchestrator.root_vol_size }}"
          OrchestratorDataVolSizeParameter: "{{ orchestrator.data_vol_size }}"
          ChaosMonkeyIncludeStack: "{{ chaos_monkey.include_stack | lower }}"
          ChaosMonkeyImageParameter: "{{ ami_ids.chaos_monkey }}"
          ChaosMonkeyInstanceTypeParameter: "{{ chaos_monkey.instance_type }}"
          ChaosMonkeyASGAvailabilityZoneListParameter: "{{ aws.availability_zone_list }}"
          ChaosMonkeyRootVolSizeParameter: "{{ chaos_monkey.root_vol_size }}"
          Route53HostedZoneNameParameter: "{{ dns_records.route53_hosted_zone_name }}"
          AuthorDNSRecordSetNameParameter: "{{ dns_records.author.record_set_name }}"
          AuthorDispatcherDNSRecordSetNameParameter: "{{ dns_records.author_dispatcher.record_set_name }}"
          PublishDispatcherDNSRecordSetNameParameter: "{{ dns_records.publish_dispatcher.record_set_name }}"
          ImageDevices: "{{ ami_device[os_type].root_name }}, {{ ami_device[os_type].data_name }}"
      tags:
      - create
      when:
        permission_type == "c"

    - name: Check if a Stack Exists
      command: >
        aws cloudformation describe-stacks --stack-name "{{ stack_prefix }}-{{ main.stack_name }}"
             --query 'Stacks[].StackName' --region "{{ aws.region }}"
      ignore_errors: True
      register: stack_query
      tags:
        - delete

    - name: Report Stack Problem
      debug:
        msg: Stack "{{ stack_prefix }}-{{ main.stack_name }}" does not exist or some other errors occured
      when:
        "stack_query.rc != 0"
      tags:
        - delete

    - name: Delete AEM App Compute Resources Stacks
      cloudformation:
        stack_name: "{{ stack_prefix }}-{{ main.stack_name }}"
        region: "{{ aws.region }}"
        state: absent
      when:
        "stack_query.rc == 0"
      tags:
      - delete

    - name: Delete default deployment descriptor
      aws_s3:
        bucket: '{{ s3.data_bucket_name }}'
        region: '{{ aws.region }}'
        object: '{{ stack_prefix }}/deploy-artifacts-descriptor.json'
        mode: delobj
      ignore_errors: True
      tags:
        - delete

    - name: Delete Simian Army SimpleDB domain
      delete_sdb_domain:
        domain_name: "SIMIAN_ARMY_{{ stack_prefix }}"
        region: "{{ aws.region }}"
      when:
        "stack_query.rc == 0"
      tags:
      - delete
