#stack_prefix: default

network:
  stack_name: aem-network-stack

  internet_gateway:
    tag_name: AEM VPC Internet Gateway

  {% if (availability_zone_list | length) == 3 %}
    {% set slash=26, subnets=[0,64,128] %}
  {% else if (availability_zone_list | length) == 2 %}
    {% set slash=25, subnets=[0,128] %}
  {% endif %}

  publish_dispatcher_elb:
  {% for az in availability_zone_list %}
    subnet_{{ az[:-1] }}:
      cidr_block: "10.0.10.{{ subnets[availability_zone_list.index0] }}/{{ slash }}"
      tag_name: "AEM Publish Dispatcher ELB Subnet {{ az[:-1] | upper }}"
  {% endfor %}

  publish_dispatcher:
  {% for az in availability_zone_list %}
    subnet_{{ az[:-1] }}:
      cidr_block: "10.0.11.{{ subnets[availability_zone_list.index0] }}/{{ slash }}"
      tag_name: "AEM Publish Dispatcher Subnet {{ az[:-1] | upper }}"
  {% endfor %}

  publish:
  {% for az in availability_zone_list %}
    subnet_{{ az[:-1] }}:
      cidr_block: "10.0.12.{{ subnets[availability_zone_list.index0] }}/{{ slash }}"
      tag_name: "AEM Publish Subnet {{ az[:-1] | upper }}"
  {% endfor %}

  author:
  {% for az in availability_zone_list %}
    subnet_{{ az[:-1] }}:
      cidr_block: "10.0.13.{{ subnets[availability_zone_list.index0] }}/{{ slash }}"
      tag_name: "AEM Author Subnet {{ az[:-1] | upper }}"
  {% endfor %}

  author_dispatcher:
  {% for az in availability_zone_list %}
    subnet_{{ az[:-1] }}:
      cidr_block: "10.0.14.{{ subnets[availability_zone_list.index0] }}/{{ slash }}"
      tag_name: "AEM Author Dispatcher Subnet {{ az[:-1] | upper }}"
  {% endfor %}

  tool:
  {% for az in availability_zone_list %}
    subnet_{{ az[:-1] }}:
      cidr_block: "10.0.15.{{ subnets[availability_zone_list.index0] }}/{{ slash }}"
      tag_name: "AEM Tool Subnet {{ az[:-1] | upper }}"
  {% endfor %}

  public_route_table:
    tag_name: AEM VPC Public Route Table

  private_route_table:
    tag_name: AEM VPC Private Route Table

  hosted_zone: aem.

bastion:
  stack_name: aem-bastion-stack
  key_pair_name: overwrite-me
  ami_id: ami-ccecf5af
  subnet_id: overwrite-me
  security_groups: overwrite-me

#TODO: create a new elastic ip option?
nat_gateway:
  stack_name: aem-nat-gateway-stack
  elastic_ip_allocation_id: eipalloc-32711957

endpoints:
  s3: aem-stack-builder

network_exports:
  stack_name: aem-network-exports-stack
  VPCId: vpc-12345678
  AuthorPublishDispatcherSubnet: subnet-12345678
  PublishDispatcherELBSubnetList: subnet-12345678,subnet-87654321
  PublishDispatcherSubnetList: subnet-12345678,subnet-87654321
  PublishSubnetList: subnet-12345678,subnet-87654321
  AuthorPrimarySubnet: subnet-12345678
  AuthorStandbySubnet: subnet-87654321
  AuthorELBSubnetList: subnet-12345678,subnet-87654321
  AuthorDispatcherELBSubnetList: subnet-12345678,subnet-87654321
  AuthorDispatcherSubnetList: subnet-12345678,subnet-87654321
  ToolSubnetList: subnet-12345678,subnet-87654321
  PublicRouteTable: rtb-77cd4413
  PrivateRouteTable: rtb-75cd4411
