#jinja2:lstrip_blocks:True,trim_blocks:True
---
- name: Create AEM Network Stack
  cloudformation:
    stack_name: "{{ stack_prefix }}-{{ network.stack_name }}"
    state: present
    region: "{{ aws.region }}"
    disable_rollback: true
    template: "../../../cloudformation/network/network.yaml"
    template_parameters:
      StackPrefix: "{{ stack_prefix}}"
      Ec2InternetGatewayTagNameParameter: "{{ stack_prefix }}-{{ network.internet_gateway.tag_name }}"
      {% for az in az_array %}
      AvailabilityZone{{ az[-1] | upper }}Parameter: "{{ az }}"
      PublishDispatcherELBSubnet{{ az[-1] | upper }}CidrBlockParameter: "{{ network.publish_dispatcher_elb[az].cidr_block }}"
      PublishDispatcherELBSubnet{{ az[-1] | upper }}TagNameParameter: "{{ stack_prefix }}-{{ network.publish_dispatcher_elb[az].tag_name }}"
      PublishDispatcherSubnet{{ az[-1] | upper }}CidrBlockParameter: "{{ network.publish_dispatcher[az].cidr_block }}"
      PublishDispatcherSubnet{{ az[-1] | upper }}TagNameParameter: "{{ stack_prefix }}-{{ network.publish_dispatcher[az].tag_name }}"
      PublishSubnet{{ az[-1] | upper }}CidrBlockParameter: "{{ network.publish[az].cidr_block }}"
      PublishSubnet{{ az[-1] | upper }}TagNameParameter: "{{ stack_prefix }}-{{ network.publish[az].tag_name }}"
      AuthorSubnet{{ az[-1] | upper }}CidrBlockParameter: "{{ network.author[az].cidr_block }}"
      AuthorSubnet{{ az[-1] | upper }}TagNameParameter: "{{ stack_prefix }}-{{ network.author[az].tag_name }}"
      AuthorDispatcherSubnet{{ az[-1] | upper }}CidrBlockParameter: "{{ network.author_dispatcher[az].cidr_block }}"
      AuthorDispatcherSubnet{{ az[-1] | upper }}TagNameParameter: "{{ stack_prefix }}-{{ network.author_dispatcher[az].tag_name }}"
      ToolSubnet{{ az[-1] | upper }}CidrBlockParameter: "{{ network.tool[az].cidr_block }}"
      ToolSubnet{{ az[-1] | upper }}TagNameParameter: "{{ stack_prefix }}-{{ network.tool[az].tag_name }}"
      {% endfor %}
      PublicRouteTableTagNameParameter: "{{ stack_prefix }}-{{ network.public_route_table.tag_name }}"
      PrivateRouteTableTagNameParameter: "{{ stack_prefix }}-{{ network.private_route_table.tag_name }}"
      S3BucketParameter: "{{ endpoints.s3 | default('') }}"
  tags:
  - create
