author_publish_dispatcher::enable_deploy_on_init: {{ aem.enable_deploy_on_init }}

author::enable_deploy_on_init: {{ aem.enable_deploy_on_init }}

author_primary::cron_offline_compaction_enable: {{ scheduled_jobs.author_primary.offline_compaction.enable }}
author_primary::cron_offline_compaction_weekday: "{{ scheduled_jobs.author_primary.offline_compaction.weekday }}"
author_primary::cron_offline_compaction_hour: "{{ scheduled_jobs.author_primary.offline_compaction.hour }}"
author_primary::cron_offline_compaction_minute: "{{ scheduled_jobs.author_primary.offline_compaction.minute }}"
author_primary::cron_export_enable: {{ scheduled_jobs.author_primary.export.enable }}
author_primary::cron_export_hour: "{{ scheduled_jobs.author_primary.export.hour }}"
author_primary::cron_export_minute: "{{ scheduled_jobs.author_primary.export.minute }}"
author_primary::cron_export_weekday: "{{ scheduled_jobs.author_primary.export.weekday }}"
author_primary::cron_live_snapshot_enable: {{ scheduled_jobs.author_primary.live_snapshot.enable }}
author_primary::cron_live_snapshot_hour: "{{ scheduled_jobs.author_primary.live_snapshot.hour }}"
author_primary::cron_live_snapshot_minute: "{{ scheduled_jobs.author_primary.live_snapshot.minute }}"
author_primary::cron_live_snapshot_weekday: "{{ scheduled_jobs.author_primary.live_snapshot.weekday }}"

publish::cron_offline_compaction_enable: {{ scheduled_jobs.publish.offline_compaction.enable }}
publish::cron_offline_compaction_weekday: "{{ scheduled_jobs.publish.offline_compaction.weekday }}"
publish::cron_offline_compaction_hour: "{{ scheduled_jobs.publish.offline_compaction.hour }}"
publish::cron_offline_compaction_minute: "{{ scheduled_jobs.publish.offline_compaction.minute }}"
publish::cron_export_enable: {{ scheduled_jobs.publish.export.enable }}
publish::cron_export_hour: "{{ scheduled_jobs.publish.export.hour }}"
publish::cron_export_minute: "{{ scheduled_jobs.publish.export.minute }}"
publish::cron_export_weekday: "{{ scheduled_jobs.publish.export.weekday }}"
publish::cron_live_snapshot_enable: {{ scheduled_jobs.publish.live_snapshot.enable }}
publish::cron_live_snapshot_hour: "{{ scheduled_jobs.publish.live_snapshot.hour }}"
publish::cron_live_snapshot_minute: "{{ scheduled_jobs.publish.live_snapshot.minute }}"
publish::cron_live_snapshot_weekday: "{{ scheduled_jobs.publish.live_snapshot.weekday }}"

author_standby::cron_live_snapshot_enable: {{ scheduled_jobs.author_standby.live_snapshot.enable }}
author_standby::cron_live_snapshot_hour: "{{ scheduled_jobs.author_standby.live_snapshot.hour }}"
author_standby::cron_live_snapshot_minute: "{{ scheduled_jobs.author_standby.live_snapshot.minute }}"
author_standby::cron_live_snapshot_weekday: "{{ scheduled_jobs.author_standby.live_snapshot.weekday }}"

aem_orchestrator::cron_offline_compaction_snapshot_enable: {{ scheduled_jobs.aem_orchestrator.offline_compaction_snapshot.enable }}
aem_orchestrator::cron_offline_compaction_snapshot_hour: "{{ scheduled_jobs.aem_orchestrator.offline_compaction_snapshot.hour }}"
aem_orchestrator::cron_offline_compaction_snapshot_minute: "{{ scheduled_jobs.aem_orchestrator.offline_compaction_snapshot.minute }}"
aem_orchestrator::cron_offline_compaction_snapshot_weekday: "{{ scheduled_jobs.aem_orchestrator.offline_compaction_snapshot.weekday }}"
aem_orchestrator::cron_offline_snapshot_enable: {{ scheduled_jobs.aem_orchestrator.offline_snapshot.enable }}
aem_orchestrator::cron_offline_snapshot_hour: "{{ scheduled_jobs.aem_orchestrator.offline_snapshot.hour }}"
aem_orchestrator::cron_offline_snapshot_minute: "{{ scheduled_jobs.aem_orchestrator.offline_snapshot.minute }}"
aem_orchestrator::cron_offline_snapshot_weekday: "{{ scheduled_jobs.aem_orchestrator.offline_snapshot.weekday }}"

publish::enable_deploy_on_init: {{ aem.enable_deploy_on_init }}

author_dispatcher::enable_deploy_on_init: {{ aem.enable_deploy_on_init }}

publish_dispatcher::enable_deploy_on_init: {{ aem.enable_deploy_on_init }}
publish_dispatcher::enable_content_healthcheck: {{ aem.enable_content_healthcheck }}

orchestrator::aem_orchestrator_version: '{{ library.aem_orchestrator_version }}'

chaos_monkey::simian_army_version: '{{ library.simian_army_version }}'

common::proxy_enabled: {{ proxy.enabled }}
common::proxy_protocol: '{{ proxy.protocol }}'
common::proxy_host: '{{ proxy.host }}'
common::proxy_port: '{{ proxy.port }}'

aem_curator::config_author_primary::aem_password_reset_version: '{{ library.aem_password_reset_version }}'
aem_curator::config_author_primary::enable_crxde: {{ aem.enable_crxde }}
aem_curator::config_author_primary::enable_default_passwords: {{ aem.enable_default_passwords }}
aem_curator::config_author_primary::jvm_mem_opts: {{ aem.author.jvm_mem_opts }}
aem_curator::config_author_primary::jmxremote_port: {{ aem.author.jmxremote.port }}
aem_curator::config_author_primary::jvm_opts: {{ aem.author.jvm_opts }}
aem_curator::config_author_primary::author_timeout: {{ aem.client_timeout }}

aem_curator::config_author_standby::jvm_mem_opts: {{ aem.author.jvm_mem_opts }}
aem_curator::config_author_standby::jmxremote_port: {{ aem.author.jmxremote.port }}
aem_curator::config_author_standby::jvm_opts: {{ aem.author.jvm_opts }}

aem_curator::config_publish::aem_password_reset_version: {{ library.aem_password_reset_version }}
aem_curator::config_publish::enable_crxde: {{ aem.enable_crxde }}
aem_curator::config_publish::enable_default_passwords: {{ aem.enable_default_passwords }}
aem_curator::config_publish::jvm_mem_opts: {{ aem.publish.jvm_mem_opts }}
aem_curator::config_publish::jmxremote_port: {{ aem.publish.jmxremote.port }}
aem_curator::config_publish::jvm_opts: {{ aem.publish.jvm_opts }}
aem_curator::config_publish::publish_timeout: {{ aem.client_timeout }}

aem_curator::config_aem_tools::oak_run_version: '{{ library.oak_run_version }}'

aem_curator::config_author_primary::aem_version: '{{ aem.version }}'
aem_curator::config_author_standby::aem_version: '{{ aem.version }}'
aem_curator::action_promote_author_standby_to_primary::aem_version: '{{ aem.version }}'

aem_curator::config_collectd::proxy_protocol: '{{ proxy.protocol }}'
aem_curator::config_collectd::proxy_host: '{{ proxy.host }}'
aem_curator::config_collectd::proxy_port: '{{ proxy.port }}'

aem_curator::action_deploy_artifacts::retries_max_tries: {{ aem.deployment_check_retries }}
aem_curator::action_deploy_artifacts::retries_base_sleep_seconds: {{ aem.deployment_check_delay_in_seconds }}
aem_curator::action_deploy_artifacts::retries_max_sleep_seconds: {{ aem.deployment_check_delay_in_seconds }}

aem_resources::deploy_packages::sleep_seconds: '{{ aem.deployment_delay_in_seconds }}'

aem_orchestrator::application_properties::aem_reverse_replication_enable: '{{ aem.enable_reverse_replication }}'
