aem_curator::config_author_primary::enable_crxde: {{ aem.enable_crxde }}
aem_curator::config_author_primary::enable_default_passwords: {{ aem.enable_default_passwords }}

aem_curator::config_publish::enable_crxde: {{ aem.enable_crxde }}
aem_curator::config_publish::enable_default_passwords: {{ aem.enable_default_passwords }}
