{
  "ec2_run_command": {
    "cmd-output-bucket": "mb-aem-stack-builder",
    "cmd-output-prefix": "SSMOutput",
    "status-topic-arn": "topic",
    "ssm-service-role-arn": "role",
    "dynamodb-table": "AemStackManagerTable"
  },
  "document_mapping": {
    "promote-author": "aem-stack-manager-ssm-PromoteAuthor-19WJOQ9JRWG0X",
    "wait-until-ready": "aem-stack-manager-ssm-WaitUntilReady-14J0SQHQN6HCA",
    "export-package": "aem-stack-manager-ssm-ExportPackage-1NIEPBYRUWVU3",
    "offline-compaction": "aem-stack-manager-ssm-OfflineCompaction-1O3ADGBY2SWPV",
    "deploy-artifacts": "aem-stack-manager-ssm-DeployArtifacts-FD9NYEE6P1A3",
    "offline-snapshot": "aem-stack-manager-ssm-OfflineSnapshot-1V7E8IWCJGMUR",
    "manage-service": "aem-stack-manager-ssm-ManageService-LWLXGQQ9TMJI",
    "import-package": "aem-stack-manager-ssm-ImportPackage-10LLGVZ6P9U7Z",
    "deploy-artifact": "aem-stack-manager-ssm-DeployArtifact-1WCT1YW9QNUDQ"
  },
  "offline_snapshot": {
    "min-publish-instances": 2,
    "sns-topic-arn": "sns"
  }
}
